
Note.md
*.cache
.vs/
.vs/AdminApiCore/v17/.futdcache.v2
API.Application/bin/Debug/net7.0/API.Application.dll
.vs/AdminApiCore/FileContentIndex/ae617485-697e-429f-a229-e0dcbdf6a4b4.vsidx
*.vsidx
*.dll
*.pdb
API.Application/obj/*
API.Core/obj/*
API.Core/bin/*
API.Infras/obj/*
API.Infras/bin/*
DemoApiCore/obj/*
*.csproj
DemoApiCore/bin/*
*.vsidx
*.2
